@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root{
    --color-1: #2f3240;
}
body{
	font-family: sans-serif;
}
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	max-width: 100%;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	background-color: #FFFAE3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    margin: auto 0;
}
.align-items-center{
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}

/*header*/
/*
.header .container{
	background-color: #FFFFFF;
	line-height: 1.5;
    min-height: 35vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/back-img2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    box-sizing: border-box;  
} */

.header .logo,
.header .nav{
	padding:0 20px;
}
.header .logo a{
	font-size: 50px;
    color: #ffffff;
    width: 50px;
	text-transform: capitalize;
	position: relative;
}
.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
	font-weight: 600;
	font-size: 26px;
}
.header .nav ul li a{
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #BA1200;
	padding: 10px 0;
	transition: all 0.5s ease;
}

.header .nav ul li a:hover{
	color: #FFFAE3;
	background-color: #BA1200;
	border: 2px solid #ba1200;
	border-radius: 10px;
	padding: 15px;
}
.nav-toggler{
	height: 30px;
	width: 44px;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}
@media(max-width: 575px){

    .row{
        position: relative;
    } 

	.header .container{
		max-width: 100%;
		min-height: 20vh;
	}
	.container .text-box{
		z-index: 1;

	}
   .nav-toggler{
   	display: block;

   }

   .text-box{
    visibility: hidden;
   }
   
   .header .nav{
   	width: 100%;
   	padding:0;
   	max-height: 0;
   	overflow: hidden;
   	visibility: hidden;
   	transition: all 0.5s ease;
   	scroll-behavior: smooth;
	z-index: 1000;
	position: relative;
   }
   .header .nav.open{
    max-height: 100%;
	width: fit-content;
   	visibility: visible;
   }
   .header .nav ul{
   	padding:12px 15px 0;
   	margin-top: 12px;
   	border-top:1px solid rgba(255,255,255,0.2);
   }
   .header .nav ul li{
   	display: block;
   	margin:0;
   }
}

.container .text-box{
	position: absolute;
	text-align: center;
	width: 100%;
	top: 50%;
	left: 20%;
	box-sizing: border-box;
	transform: translate(-50%, -50%);
    padding-top: 60px;
}

/* text box styles */
.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    align-items: center;
}

.wel{
	color: #BA1200;
}

@media (max-width: 575px){
	.wel{
		font-size:smaller;
	}
}

/* hero-section styles */

.hero-section{
    width: 100%;
    min-height: 20vh;
    text-align: center;
    align-items: center;
    /* margin-top:100px; */
    background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.8)),url(../img/back-img3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    box-sizing: border-box; 
    margin-top: 100px;
    z-index: -1;
}

.hero-section h1{
    font-size: 50px;
    font-family: Helvetica;
    text-align: center;
    color: #d4c7aa;
    padding-top: 20px;
}

@media(max-width: 575px){
    .hero-section{
        margin-top: 0;
    } 
}

/* document page styles */

  .container {
	min-height: 60vh;
	max-width: 100%;
	margin-bottom: 40px;
  }
  
  .column-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;

  }
  
  .list1 {
	width: 80%; 
	margin: 0 auto;	
}

.list1 a {
	display: block; 
	padding: 10px; 
	background-color: #ba1200; 
	color: #fff; 
	text-decoration: none; 
	border-radius: 5px; 
}

.list1 a i.fas.fa-file-pdf {
	font-size: 24px; 
	color: #fff; 
	margin-right: 10px;
}




